*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #a154e9;
}
h1{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    color: white;
}
.container{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border: 8px black solid;
    border-radius: 6px;
    padding: 8px;
    background-color: white;
}
.input-container{
    display: flex;
}
.input-text{
    height: 100px;
    width: 300px;
    
}
.input-display{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    box-sizing: border-box;
    height: 50px;
    width: 300px;
    line-height: 50px;
    background-color: black;
    color: white;
    padding: 0px 16px;
    text-align: right;
    
}

#display-one{
    font-size: 20px;
}
#display-two{ 
    font-size: 36px;
    color: #30b229; 
}
button{
    font-size: 28px;
    font-weight: bolder;
    height: 96px;
    width: 96px;
    box-sizing: content-box;
}

.btn-container{
    display: flex;
    height: 400px;
    width: 400px;
}
.btn-num-container{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 384px;
}
.btn-operand{
    display: flex;
    flex-direction: column;
}

#cancel-btn, #allclear-btn, #equals-btn{
    background-color: orange;
}

.operator{
    background-color: orange;
}